[user]
	name = Dominik Siebel
	email = code@dsiebel.de

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  cp = cherry-pick
	logp = log -p
[github]
	user = dsiebel
[core]
  excludesfile = ~/.gitignore
  editor = vim
[push]
    default = simple
[svn]
  rmdir = true
[color]
  ui = true
[merge]
  tool = meld
[diff]
  external = meldDiff
