[user]
	name = Dominik Siebel
	email = code@dsiebel.de

[alias]
	a = add
	aa = add --all
	ai = add --interactive
	s = status --short --branch
	st = status
	ci = commit
	br = branch -vv
	co = checkout
  d = diff --ignore-all-space
	df = diff
	dc = diff --cached --ignore-all-space
	dfc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  logp = log -p
	cp = cherry-pick
	sh = stash
	shl = stash list
	shp stash pop
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip
  branches = branch -av
  tags = tag -l
  remotes = remote -v
  contributors = shortlog --summary --numbered
[github]
	user = dsiebel
[core]
  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
	editor = vim -pc ':normal gg:
  pager = less -FXR
  quotepath = false
	whitespace = trailing-space,space-before-tab
	
  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false
[push]
    default = simple
[pull]
	rebase = true
[page]
	color = true
[svn]
  rmdir = true
	brokenSymlinkWorkaround = false
[status]
	submodulesummary = true
[color]
  ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
# Include summaries of merged commits in newly created merge commit messages
	log = true
# Always show a diffstat at the end of a merge
	stat = true
