# configure XDEBUG support
# export XDEBUG_CONFIG="idekey=XDEBUG";

# use vim as default editor for everything
export EDITOR="/usr/bin/vim";
export GIT_EDITOR=$EDITOR;
export SVN_EDITOR=$EDITOR;

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# ssh
# export SSH_KEY_PATH="~/.ssh/rsa_id"

# Prefer US English and use UTF-8
export LC_ALL='en_US.UTF-8';
export LANG='en_US.UTF-8';
export LC_LANG='en_US.UTF-8';

# Highlight section titles in man pages
export LESS_TERMCAP_md="${yellow}";

# Don't clear screen after quitting man page
export MANPAGER='less -X';
# export MANPATH="/usr/local/man:$MANPATH"

# setup java 1.8 properly. Thanks, Steve!
export JAVA_HOME=`/usr/libexec/java_home -v 11`;

# check for nvm and load it if present
#export NVM_DIR="/Users/dsiebel/.nvm"
#[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm

export GRADLE_USER_HOME="${HOME}/.gradle"
