---
exclude: '^(\.oh-my-zsh|\.git|btt|iTerm2|\.zprofile|\.zshenv|\.zshrc|\.fzf.zsh)'
repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: 'v6.0.0'
    hooks:
      - id: 'end-of-file-fixer'
      - id: 'trailing-whitespace'
        args:
          - '--markdown-linebreak-ext=md'
      - id: 'mixed-line-ending'
      - id: 'check-case-conflict'
      - id: 'check-merge-conflict'
      - id: 'detect-private-key'
      - id: 'check-added-large-files'
  - repo: 'https://github.com/koalaman/shellcheck-precommit'
    rev: 'v0.11.0'
    hooks:
      - id: 'shellcheck'
        args:
          - '--severity=error'
